.container {
  background: var(--primarySoftDark);
  height: 100vh;
  padding: 3rem;
  position: sticky;
  top: 0;
  width: 28rem;
}

.branding {
  margin-bottom: 7.5rem;
  text-align: center;
}

.branding a {
  color: var(--white);
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.sectionHeading {
  margin-bottom: 1.5rem;
  padding: 1rem 1.2rem;
}

.sectionHeading > span {
  color: var(--grayDark);
  font-size: 1.3rem;
  font-weight: 500;
}

.navList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navList li {
  list-style: none;
}

.navList li a {
  align-items: center;
  border-radius: 1.2rem;
  color: var(--grayLight);
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1.2rem;
}

.navList li a > svg {
  margin-right: 1.2rem;
}

.navList li a.active {
  background: var(--secondary);
  color: var(--white);
  font-weight: 700;
}
