.container {
  background: var(--primary);
  box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 5%);
  height: 7.2rem;
  padding: 1.6rem 4rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--dashboardNavHeader);
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.rightSide {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.userProfilePicture {
  background: var(--white);
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
}

.signOutButton:after {
  color: var(--primaryDark);
  content: '|';
  margin-left: 1.5rem;
}
